<section class="index-page">
  <p class="success">
    You have been successfully logged in!
  </p>
  <img class="avatar" src="{{avatar}}">
  <h2>Hello {{username}}</h2>
<a href="/auth/logout">Logout</a>
</section>